@charset "UTF-8";
@charset "UTF-8";
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #154963;
    --primary-color-light: #F6F5FF;
    --text-color: #707070;
}

body{
    min-height: 100vh;
    background-color:  #f2f4f7;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

/* body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}  */

/* ===== Sidebar ===== */
.sidebar{
    position: fixed;
    top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    height: 97vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    /* background: #dff4fe; */
    border: 2px solid rgba(255,255,255,.2);
    border-radius:10px; 
    border-shadow: 0 0 20px rgb(195, 192, 192);
}
.sidebar.clos{
    width: 280px;
} 

/* ===== Reusable code - Here ===== */
 .sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
} 

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    right:0;
}



.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}


.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 90px;
    border-radius: 6px;
}



.sidebar .menu{
    margin-top: 90px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    text-decoration: none;
   
}

.sidebar li a:hover{
    background: linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}


.menu-bar .bottom-content{
    padding-top:220px;
}


.home{ 
    margin-top:10px;
    margin-left:330px;
  

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
 
.container{

    margin-left:0px;
 
}
.home .search-box{
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    margin-left:300px;
    margin-bottom:10px;
}

.home .search-box .icon{
    color: white;
}
.home .search-btn{
	border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background:linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);;
    width:50px;
    align-items: center;
}
.home .search-box input{
	border:2px solid rgba(255,255,255,.2);
    border-bottom: 2px solid ;
    padding: 10px;
    outline:0;
    background-color:none;
    border-radius:10px ;
    width: 400px;
    margin-right:20px;
    
}
.ajout-btn {

	margin:10px 0 10px 60px;
	 
}
.ajout-btn .icon{
	 color: white;
	 
}
.home .head{
    display: inline-block;
    justify:space-between;
    /* background-color: lightblue; */
    width: 1090px;
}
.head li{
    display:inline-block;
    justify:space-around;
    height: 50px;
    list-style: none;
    

}
.head .notif{
    display: inline-flex;
    margin-left: 945px;
    margin-top: 5px;
   
}
.head li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    text-decoration: none;
    color:var(--text-color);
}
.head .icon{
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 55px;
    border-radius: 50px;
    background-color:white;
    margin:3px;
    color:var(--text-color);
}
.head .icon:hover{
    background: linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);
    color:white;
}
.head .Dash-text{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom:10px;
    margin-left:20px;
}
button{
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    background:linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);;
    width:200px;
    align-items: center;
 
}
.action{
	display:inline-flex;
	justify-content:center;
	align-content:center;
	margin:0 10px ;
}
.btnModif{
	 border: none;
    border-radius: 60px;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
    background:linear-gradient(109.6deg, rgb(5, 85, 84) 11.2%, rgb(64, 224, 208) 91.1%);
    width:30px;
    align-items: center;
}
.btnDelete{
	 border: none;
    border-radius: 60px;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
    background:radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
    width:30px;
    align-items: center;
}
.btnDelete .icon,.btnModif .icon,.valid-btn .icon{
	color:white;
}
.valid-btn{
	border: none;
    border-radius: 60px;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    background:linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);;
    width:30px;
    align-items: center;
}
.choisirfiliere {
	border-bottom: 2px solid ;
    padding: 5px;
    outline:0;
    background-color:none;
    border-radius:10px ;
    width: 30px;
}
.selectfiliere{
	margin:10px  0  20px 50px;
	
}
.choisir{
	border-bottom: 2px solid ;
    padding: 5px;
    outline:0;
    background-color:none;
    border-radius:10px ;
    width: 260px;
}
.selectfiliere p{
	
	font-size:18px;
}
.btn{
    font-size: 13px;
    margin: 20px 100px 0 180px;
}
button a{
    text-decoration: none;
    color:white;
}
button a:hover{
    text-decoration: none;
    color:white;

}
input{
    /* border-right: none;
    border-top: none;
    border-left: none; */
    border-bottom: 2px solid ;
    padding: 10px;
    outline:0;
    background-color:none;
    border-radius:10px ;
    width: 100%;
}
input:focus{
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #154963;

}
.user{
    border:none;
    width:1000px;
    height:500px;
    background-color: #ffffff;
    margin:10px 60px;
    padding:50px;
    box-shadow: 0 0 20px rgb(195, 192, 192);
    border-radius: 10px;
}
.home .container2 form{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 50px 0 0 250px;
    border:  2px solid rgba(255,255,255,.2);
    border-radius: 20px;
    justify-content: center;
    background:none;
    box-shadow: 0 0 20px rgb(195, 192, 192);
    backdrop-filter: blur(17px);
    background: rgba(82, 181, 230, 0.067);

}
.home .container2 form input{
   border:none;
   width:250px;
   margin:30px;

}
.AjtBtn{
	margin-left:20px;
	background-color:white;
}
th,td{
	padding: 20px;
    text-align: center;
    font-size:15px;
}
.user3{
    border:none;
    width:1000px;
    min-height:700px;
    max-height:1100px;
    background-color: #ffffff;
    margin:10px 60px;
    padding:50px;
    box-shadow: 0 0 20px rgb(195, 192, 192);
    border-radius: 10px;
}

.emploi input{
	border-bottom: 2px solid ;
    padding: 10px;
    outline:0;
    background-color:none;
    border-radius:10px ;
    width: 100px;
	
}